# -*- mode: ruby -*-
# vi: set ft=ruby :

# Reasonable Defaults - can be overwridden with environmental variables
_IP_NETWORK=ENV.fetch('IP_NETWORK','172.16.1')
_DEFAULT_BOX=ENV.fetch('DEFAULT_BOX', 'centos/7')

# List guests separately
require_relative 'GUESTS';

Vagrant.configure(2) do |config|
  GUESTS.each_with_index do |guest, i|
    config.vm.define "#{guest[:name]}", primary: i==0 do |box|
      box.vm.box_check_update = false
      # OS
      box.vm.box = ( guest.key?(:box) ? guest[:box] : _DEFAULT_BOX )
      unless guest.has_key?(:sync)
         box.vm.synced_folder '.', '/vagrant', disabled: true
      else
         box.vm.synced_folder '.', '/vagrant', disabled: ! guest[:sync]
      end
      # IP
      if guest.has_key?(:ip)
        if guest[:ip] == 'dhcp'
          box.vm.network 'private_network', type: guest[:ip]
        else
          box.vm.network 'private_network',
            ip: guest[:ip].to_s.match('\.') ? guest[:ip] : "#{_IP_NETWORK}.#{guest[:ip].to_s}"
        end
      end
      # Port forwarding
      if guest.has_key?(:ports)
        guest[:ports].each do |port|
          if port.is_a? Integer
            box.vm.network "forwarded_port", guest: port, host: port
          else # elif port.is_a? Hash
            box.vm.network "forwarded_port",
              guest:        port[:guest],
              auto_correct: port.has_key?(:auto_correct) ? port[:auto_correct] : true,
              guest_ip:     port.has_key?(:guest_ip)     ? port[:guest_ip]     : nil,
              host_ip:      port.has_key?(:host_ip)      ? port[:host_ip]      : nil,
              host:         port.has_key?(:host)         ? port[:host]         : port[:guest],
              id:           port.has_key?(:id)           ? port[:id]           : nil,
              protocol:     port.has_key?(:protocol)     ? port[:protocol]     : nil
          end
        end
      end
      # Provider specific settings
      box.vm.provider "virtualbox" do |v|
        v.cpus   = guest[:cpus]   if guest.has_key?(:cpus)
        v.gui    = guest[:gui]    if guest.has_key?(:gui)
        v.memory = guest[:memory] if guest.has_key?(:memory)
      end
      config.vm.provider "vmware_fusion" do |v|
        v.gui             = guest[:gui]    if guest.has_key?(:gui)
        v.vmx["memsize"]  = guest[:memory] if guest.has_key?(:memory)
        v.vmx["numvcpus"] = guest[:cpus]   if guest.has_key?(:cpus)
      end
      config.vm.provider "vmware_workstation" do |v|
        v.gui             = guest[:gui]    if guest.has_key?(:gui)
        v.vmx["memsize"]  = guest[:memory] if guest.has_key?(:memory)
        v.vmx["numvcpus"] = guest[:cpus]   if guest.has_key?(:cpus)
      end
      # Some boxes lack python
      if guest.has_key?(:needs_python) && guest[:needs_python]
        box.vm.provision 'shell',
          inline: <<-'SCRIPT'
            export DEBIAN_FRONTEND=noninteractive
            apt-get update  --quiet=2
            apt-get install --quiet=2 --option=Dpkg::Use-Pty=0 --assume-yes python python-apt
          SCRIPT
      end
      if guest.has_key?(:update) && guest[:update]
        box.vm.provision 'shell',
          inline: <<-'SCRIPT'
            if command -v apt-get > /dev/null; then
              export DEBIAN_FRONTEND=noninteractive
              echo apty
              apt-get update  --quiet=2
              apt-get upgrade --quiet=2 --option=Dpkg::Use-Pty=0 --assume-yes
            fi
            if command -v yum > /dev/null; then
              yum upgrade --quiet --assumeyes
            fi
          SCRIPT
      end
    end
  end
end
